@font-face {
  font-family: 'blokletters_potloodpotlood';
  src: url('/app/assets/fonts/blokletters-potlood-webfont.eot');
  src: url('/app/assets/fonts/blokletters-potlood-webfont.eot?#iefix') format('embedded-opentype'),
  url('/app/assets/fonts/blokletters-potlood-webfont.woff2') format('woff2'),
  url('/app/assets/fonts/blokletters-potlood-webfont.woff') format('woff'),
  url('/app/assets/fonts/blokletters-potlood-webfont.ttf') format('truetype'),
  url('/app/assets/fonts/blokletters-potlood-webfont.svg#blokletters_potloodpotlood') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'oswaldmedium';
  src: url('/app/assets/fonts/oswald-medium-webfont.eot');
  src: url('/app/assets/fonts/oswald-medium-webfont.eot?#iefix') format('embedded-opentype'),
  url('/app/assets/fonts/oswald-medium-webfont.woff2') format('woff2'),
  url('/app/assets/fonts/oswald-medium-webfont.woff') format('woff'),
  url('/app/assets/fonts/oswald-medium-webfont.ttf') format('truetype'),
  url('/app/assets/fonts/oswald-medium-webfont.svg#oswaldmedium') format('svg');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'robotoregular';
  src: url('/app/assets/fonts/roboto-regular-webfont.eot');
  src: url('/app/assets/fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('/app/assets/fonts/roboto-regular-webfont.woff2') format('woff2'),
  url('/app/assets/fonts/roboto-regular-webfont.woff') format('woff'),
  url('/app/assets/fonts/roboto-regular-webfont.ttf') format('truetype'),
  url('/app/assets/fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'robotothin';
  src: url('/app/assets/fonts/roboto-thin-webfont.eot');
  src: url('/app/assets/fonts/roboto-thin-webfont.eot?#iefix') format('embedded-opentype'),
  url('/app/assets/fonts/roboto-thin-webfont.woff2') format('woff2'),
  url('/app/assets/fonts/roboto-thin-webfont.woff') format('woff'),
  url('/app/assets/fonts/roboto-thin-webfont.ttf') format('truetype'),
  url('/app/assets/fonts/roboto-thin-webfont.svg#robotothin') format('svg');
  font-weight: normal;
  font-style: normal;

}