/*footer*/
.footer {
  height: $footer-height;
  width: 100%;
  background-color: $color-black;
  line-height: $footer-height;
  position: relative;
  z-index: 4;

  @media (max-width: $bootstrap-min-md) {
    text-align: center;
  }

  &Link {
    color: $color-white;
    font-size: 20px;
    text-decoration: none;
    padding-left: 20px;
    font-family: $default-font;

    @media (max-width: $bootstrap-min-md) {
      padding-left: 0;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}