.header {
  width: 100%;
  background-color: $color-black;
  text-align: center;
  padding:(2 * $default-padding);

    &Title {
      font-family: $title-font;
      color: $color-white;
      padding: 0 $default-padding;
      position: relative;
      display: inline-block;
      margin: 0;
      font-weight: bold;
      font-size: 86px;
      line-height: 150px;
      text-shadow: 3px 3px 7px rgba(000, 000, 000, 0.9);
      background-color: transparent;

      @media (max-width: $bootstrap-min-xs) {
        line-height: 25px !important;
      }

      @media (max-width: $bootstrap-min-md) {
        font-size: 35px;
        line-height: 43px;
      }

      @media (min-width: $bootstrap-min-sm) {
        margin: 0;
      }

      @media (min-width: $bootstrap-min-md) {
        padding-bottom: 30px;
      }

      &:after {
        content: "by jerry trimp";
        position: relative;
        color: $color-white;
        font-size: 22px;
        line-height:22px;
        display: block;
        text-align: left;
        font-family: $handwritten-font;
        margin-top:($default-padding / 2);

        @media (min-width: $bootstrap-min-md) {
          margin-top:-30px;
        }
      }
    }


}