.social {
  width: 100%;
  background-color: $color-dark-grey;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-top: $border-size solid $color-white;

  //fix for nexus 7 tab, portrait
  @media all and (min-width: $bootstrap-min-xs) and (max-width: $bootstrap-min-sm) {
    min-height:400px;
  }

  @media (min-width: $bootstrap-min-sm) {
    min-height:430px;
  }

  &Title {
    text-align: center;
    margin: 0;
    color: $color-white;
    font-family: $default-font;
    font-size: 55px;
    padding: $default-padding 0 0 0;
    text-shadow: 3px 3px 7px rgba(000, 000, 000, 0.9);

    @media (max-width: $bootstrap-min-sm) {
      font-size:35px;
    }
  }

  &Subtitle {
    text-align: center;
    margin: 0;
    color: $color-white;
    font-family: $handwritten-font;
    font-size: 55px;
    padding: $default-padding 0 0 0;
    text-shadow: 3px 3px 7px rgba(000, 000, 000, 0.9);
    font-size: 30px;
    padding-top: 0;

    @media (max-width: $bootstrap-min-sm) {
      font-size:23px;
    }
  }

  &Network {
    width: 100%;
    text-align: center;
    padding-bottom:$default-padding;

    &:hover {
      color: $color-white;

      .socialNetworkLink {
        &:before {
          visibility: visible;
          -webkit-transform: scaleX(1);
          transform: scaleX(1);
        }
      }
    }

    &Link {
      display: inline-block;
      color: $color-white;
      font-family: $title-font;
      font-size: 110px;
      outline: none;
      border: none;
      position: relative;
      margin-top: $default-padding;
      text-decoration: none;
      padding-bottom: $default-padding;

      @media (max-width: $bootstrap-min-sm) {
        font-size:90px;
      }

      &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 11px;
        bottom: 0;
        left: 0;
        background-color: $color-white;
        visibility: hidden;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
      }
      
      &:hover{
        text-decoration: none;
        color: $color-white;
      }


    }
  }
}