@import "fonts";
@import "variables";
@import "header";
@import "lightbox";
@import "social";
@import "footer";
@import "images";
@import "admin";
@import "navbar";

body {
  width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
  margin: 0;
  padding: 0 !important;
  position: relative;
  background-image: url('/app/assets/img/background.gif');
  background-color: $color-dark-grey;
}

/*wrapper and childs*/
.wrapper {
  overflow-x: hidden;
  position: relative;
  padding: 0;
  min-height: 100%;

  @media (min-width: $bootstrap-min-md) {
    width: 70%;
    margin-left: 15%;
  }

  @media all and (min-width: $bootstrap-min-sm) and (max-width: $bootstrap-min-md) {
    margin-top: 52px;
  }
  /*generic classes*/
  .add{
    display: none;
  }

  .editDelete {
    display: none;
  }

  /*destinations*/
  .destinations {
    padding: 0;
    position: relative;

    &Topic {
      height: $topic-section-height;
      overflow: hidden;
      position: relative;
      border-top: $border-size solid $color-white;

      @media (max-width: $bootstrap-min-md) {
        height: $topic-section-mobile-height;
      }

      &:not(.opened):hover {
        cursor: pointer;
      }

      &:nth-of-type(odd) {

        @media (min-width: $bootstrap-min-md) {

          &:not(.opened):hover {

            .destinationsTopicWrapper-backgroundWrapper {
              width: 80%;
              margin-left: 20%;
              -webkit-transition: all $transition-duration ease-in-out;
              -moz-transition: all $transition-duration ease-in-out;
              -o-transition: all $transition-duration ease-in-out;
              transition: all $transition-duration ease-in-out;

              &Background {
                -webkit-filter: sepia(1);
              }
            }
          }

          .destinationsTopicWrapper-infoText {
            left: 0;
          }
        }
      }

      &:nth-of-type(even) {

        @media (min-width: $bootstrap-min-md) {
          &:not(.opened):hover {
            .destinationsTopicWrapper-backgroundWrapper {

              width: 80%;
              -webkit-transition: all $transition-duration ease-in-out;
              -moz-transition: all $transition-duration ease-in-out;
              -o-transition: all $transition-duration ease-in-out;
              transition: all $transition-duration ease-in-out;

              &Background {
                -webkit-filter: sepia(1);
              }
            }
          }

          .destinationsTopicWrapper-infoText {
            right: 0;
          }
        }
      }

      &Wrapper {
        height: $topic-section-height;
        width: 100%;
        position: relative;

        @media (max-width: $bootstrap-min-md) {
          height: $topic-section-mobile-height;
        }

        &-info {
          position: absolute;
          width: 100%;
          height: 100%;
          z-index: 1;
          background-color: #0a0a0a;
          color: $color-white;
          overflow: hidden;

          &Text {
            padding: $default-padding;
            box-sizing: border-box;
            width: 20%;
            height: 100%;
            position: absolute;
            top: 0;
            margin: 0;
            font-family: $default-font;
            font-size: 16px;
          }
        }

        &-backgroundWrapper {
          height: 100%;
          width: 100%;
          position: absolute;
          -webkit-transition: all $transition-duration ease-in-out;
          -moz-transition: all $transition-duration ease-in-out;
          -o-transition: all $transition-duration ease-in-out;
          transition: all $transition-duration ease-in-out;

          &Background {
            -webkit-background-size: cover;
            background-size: cover;
            z-index: 2;
            background-color: #fff;
            min-height: $topic-section-height;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;

            @media (max-width: $bootstrap-min-sm) {
              height: auto;
            }

          }

          &Title {
            color: $color-white;
            width: 100%;
            padding: $default-padding $default-padding 0 $default-padding;
            margin: 0;
            font-weight: bold;
            font-size: 86px;
            font-family: $title-font;
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: 3;
            text-shadow: 3px 3px 7px rgba(000, 000, 000, 0.9);

            @media (max-width: $bootstrap-min-md) {
              font-size: 35px;
            }

            @media (min-width: $bootstrap-min-md) {
              line-height: 105px;
            }

          }

        }
      }
      &Content {
        overflow: hidden;
        width: 100%;
        max-height: 0;
        background-color: $color-white;
        transition: max-height 1s;
        box-sizing: border-box;
        padding: ($default-padding * 2);
        position: relative;

        &-topicsList {
          width: 100%;
          padding: 0;
          margin: 0;
          text-align: center;

          &Item {
            display: inline-block;
            margin: 0;

            @media (max-width: $bootstrap-min-sm) {
              width: 100%;
              padding:($default-padding / 2) 0;
            }

            @media (min-width: $bootstrap-min-sm) {

              &:nth-of-type(1) {
                &:before {
                  content: '-';
                  padding: $default-padding;
                }

              }

              &:after {
                content: '-';
                padding: $default-padding;
              }
            }
            &:hover {

              .destinationsTopicContent-topicsListItemLink {
                &:before {
                  visibility: visible;
                  -webkit-transform: scaleX(1);
                  transform: scaleX(1);
                }
              }
            }

            &Link {
              text-decoration: none;
              color: $color-black;
              font-family: $handwritten-font;
              font-size: 22px;
              position: relative;
              border:none;
              outline:none;

              &:before {
                content: "";
                position: absolute;
                width: 100%;
                height: 2px;
                bottom: 0;
                left: 0;
                background-color: $color-black;
                visibility: hidden;
                -webkit-transform: scaleX(0);
                transform: scaleX(0);
                -webkit-transition: all 0.3s ease-in-out 0s;
                transition: all 0.3s ease-in-out 0s;
              }

              &:hover {
                color: $color-black;
              }
            }
          }

          &Item.currentlyActive {

            &:hover {
              .destinationsTopicContent-topicsListItemLink {
                &:before {
                  display: none;
                }
              }
            }

            .destinationsTopicContent-topicsListItemLink {
              text-decoration: underline;

              &:hover {

                &:before {
                  display: none;
                }

              }
            }
          }
        }

        &Pane.opened {
          display: block;
        }

        &Pane {
          display: none;

          &-title {
            text-align: center;
            margin: 0;
            padding: ($default-padding * 1.5) 0;
            width: 100%;
            font-family: $handwritten-font;
            font-size: 35px;
          }

          &-description {
            margin: 0;
            padding: 0;
            width: 100%;
            font-family: $default-font;
            text-align: center;
            line-height: 21px;
          }

          &-photos {
            width: 100%;
            position: relative;

            &List {
              margin: 0;
              padding: 10px 0 0 0;
              -webkit-column-count: 5;
              -moz-column-count: 5;
              column-count: 5;
              -webkit-column-gap: $default-padding;
              -moz-column-gap: $default-padding;
              column-gap: $default-padding;
              -webkit-column-width: 200px;
              column-width: 200px;

              &Item {
                display: inline-block;
                margin: 0;
                -webkit-column-span: 1;
                column-span: 1;
                break-inside: avoid;
                -webkit-break-inside: avoid;
                overflow: hidden;
                min-width:100%;

                &Wrapper {

                  background-color: $color-white;
                  margin: $default-padding;
                  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);


                  &Link {
                    padding: $default-padding;
                    text-decoration: none;
                    outline:none;
                    border: none;
                    display: block;

                    &:hover {
                      text-decoration: none;
                    }

                    &:focus{
                      outline:none;
                    }
                  }

                  &Photo {
                    width: 100%;
                  }

                  &Title {
                    width: 100%;
                    font-family: $handwritten-font;
                    margin: 0;
                    padding: $default-padding 0;
                    color: $color-black;
                    text-align: center;
                    font-size: 18px;
                  }
                }

              }
            }
          }
        }
      }
    }
    &Topic.opened {
      min-height: $topic-section-height;
      height: auto;
      overflow: hidden;
      width: 100%;

      @media (max-width: $bootstrap-min-md) {
        min-height: $topic-section-mobile-height;
      }

      .destinationsTopicContent {
        z-index: 3;
        display: block;
        position: relative;
        background-color: $color-white;
        height: auto;

        /*this high value makes sure the animation works,
        100000 is used because it is very unlikely that a single item gets 100000px high*/
        max-height: 100000px;
      }
    }
  }


}




