<div class="modal fade lightbox" id="lightbox" tabindex="-1" role="dialog" aria-labelledby="lightbox">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <img class="lightboxImage" src="" ng-src="{{lightboxContentImage}}" alt="{{lightboxContentTitle}}">
                <h2 class="lightboxTitle">{{lightboxContentTitle}}</h2>
            </div>
        </div>
    </div>
</div>