<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>TravelBlog Admin</title>
    <link href="assets/css/styles.min.css" rel="stylesheet"/>
</head>

<body ng-controller="AdminCtrl" ng-init="init()" jq-lt>

<div class="topBar">
    <a class="btn btn-xs btn-warning"
       ng-click="confirm('','','','#reseedDatabaseModal')"
       data-target="#reseedDatabaseModal">Reseed Database
    </a>

    <a class="logout btn btn-xs btn-info" ng-click="logout();">Logout</a>
</div>
<div ng-include="'website/partials/toasts.html'"></div>

<div class="wrapper admin">

    <div ng-include="'website/partials/header.html'"></div>
    <div ng-include="'website/partials/destinations.html'"></div>
    <div ng-include="'website/partials/social.html'"></div>

    <div ng-include="'admin/bootstrap_popup_modals/destination/addDestinationModal.html'"></div>
    <div ng-include="'admin/bootstrap_popup_modals/destination/editDestinationModal.html'"></div>
    <div ng-include="'admin/bootstrap_popup_modals/destination/deleteDestinationModal.html'"></div>

    <div ng-include="'admin/bootstrap_popup_modals/visited_place/addVisitedPlaceModal.html'"></div>
    <div ng-include="'admin/bootstrap_popup_modals/visited_place/editVisitedPlaceModal.html'"></div>
    <div ng-include="'admin/bootstrap_popup_modals/visited_place/deleteVisitedPlaceModal.html'"></div>

    <div ng-include="'admin/bootstrap_popup_modals/photo/addPhotoModal.html'"></div>
    <div ng-include="'admin/bootstrap_popup_modals/photo/editPhotoModal.html'"></div>
    <div ng-include="'admin/bootstrap_popup_modals/photo/deletePhotoModal.html'"></div>

    <div ng-include="'admin/bootstrap_popup_modals/database/reseedModal.html'"></div>
    <script src="assets/js/resources.min.js"></script>
</div>
</body>
</html>