<div class="destinations">

    <span class="add">
            <button class="btn btn-xs btn-info"
                    ng-click="add('#addDestinationModal')"
                    data-target="#addDestinationModal">ADD Destination
            </button>
        </span>

    <div id="{{destination.id}}" ng-repeat="destination in destinations | orderBy: 'id':true"
         class="destinationsTopic"
         ng-click="setLastClickedDestination(destination.id)"
         ng-class="{'opened': clickedDestination == destination.id}">
        <div class="destinationsTopicWrapper">

            <span class="pull-right editDelete">
                        <button class="btn btn-xs btn-info"
                                ng-click="edit('Destinations',destination.$id,'#editDestinationModal')"
                                data-target="#editDestinationModal">EDIT
                        </button>
                        <button class="btn btn-xs btn-warning"
                                ng-click="confirm('Destinations',destination.$id,destination.id,'#deleteDestinationModal')"
                                data-target="#deleteDestinationModal">DELETE
                        </button>
                    </span>
            <div class="destinationsTopicWrapper-info">
                <p class="destinationsTopicWrapper-infoText">Van {{convertDateFormat(destination.fromDate)}} tot {{convertDateFormat(destination.toDate)}}</p>
            </div>
            <div class="destinationsTopicWrapper-backgroundWrapper">

                <div ng-class="destination.coverphotoposition"
                     class="destinationsTopicWrapper-backgroundWrapperBackground"
                     ng-style="{'background-image':'url({{destination.coverphotolink}})'}">
                </div>
                <h3 class="destinationsTopicWrapper-backgroundWrapperTitle">{{destination.title}}</h3>


            </div>

        </div>
        <div class="destinationsTopicContent">
            <ul class="destinationsTopicContent-topicsList">

                <!--angular directive for visited places links-->
                <li class="visited-places destinationsTopicContent-topicsListItem" ng-class="{'currentlyActive':visited_place.id == lastClickedVisitedPlace}"
                    ng-repeat="visited_place in visitedplaces | filter:byDestination(destination.id) | orderBy: 'id':true">
                </li>

            </ul>
            <span class="add">
                        <button class="btn btn-xs btn-info"
                                ng-click="add('#addVisitedPlaceModal')"
                                data-target="#addVisitedPlaceModal">ADD Visited Place
                        </button>
                    </span>
            <!--angular directive for visited places photos-->
            <div class="visited-places-photos"
                 ng-repeat="visited_place in visitedplaces | filter:byDestination(destination.id)"></div>
        </div>
    </div>
</div>



